div
{
    border-left:10px solid rgb(143, 42, 42);
    height:500px;
}
div::before
{
    border:1px solid rgb(52, 51, 51);
    content:"INDIA";
    background:linear-gradient(orange 33%,white 33%,white 66%,rgb(6, 248, 6) 33%);
    display:inline-block;
    line-height: 200px;
    text-align: center;
    font-size: 35px;
    width:300px;
    height:200px;
}